
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
}

.table{
	width: 100vw;
	height: 100vh;
}


.header{
	width: 100%;
	height: 20px;
	background-color: gray;
	position: relative;
	z-index: 1000000;
}
.main{
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 10%;
}



.calculator{
	width: 300px;
	height: 400px;
	background: red;
	border-radius: 6px;
	box-shadow: 0px 0px 4px black;
	margin: 0 auto;


}