
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
}

.table{
	width: 100vw;
	height: 100vh;
}


.header{
	width: 100%;
	height: 20px;
	background-color: gray;
	position: relative;
	z-index: 1000000;
}
.main{
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 6%;
}


button{
	outline: none;
	border: none;
}






.calculator{
	width: 300px;
	height: 400px;
	background: rgb(73, 72, 72);
	border-radius: 6px;
	box-shadow: 0px 0px 3px black;
	margin: 0 auto;

}



.calc_header{
	width: 100%;
	height: 100px;
	display: flex;
	position: relative;
}

.spanr{
	display: inline-flex;
	position: absolute;
	border-radius: 50px;
	width: 15px;
	height: 15px;
	background: black;
	top: 8px;
	box-shadow: 0px 0px 1px;
}

.calc_close{
	left: 8px;
	background: rgb(235, 57, 57);
}

.calc_rollup{
	left: 31px;
	background: rgb(255, 206, 10);
}

.calc_full{
	left: 54px;
	background: rgb(10, 194, 10);
}


.calc_input{
	width: 100%;
	height: 70%;
	margin-top: 30px;
	padding-right: 5px;

	font-size: 60px;
	text-align: right;
	color: white;
}










.calc_main{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.calc_btn{
	width: 75px;
	height: 60px;
	background-color: rgb(233, 233, 233);
	border-bottom: 2px solid rgba(114, 113, 113, 0.576);
	border-right: 2px solid rgba(114, 113, 113, 0.576);
	font-size: 30px;
}
.calc_btn:nth-child(4n+4){
	border-right: none;
}
.calc_btn:nth-child(17){
	border-bottom: none;
}
.calc_btn:nth-child(18){
	border-bottom: none;
}
.calc_btn:nth-child(19){
	border-bottom: none;
	border-right: none;
}

.btn_zero{
	width: 150px;
	padding-right: 25%;
	border-bottom-left-radius: 6px;
}
.btn_equal{
	border-bottom-right-radius: 6px;
}



@media screen and (max-width: 600px){
	
}